{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}">
    <title>SignUp</title>
</head>
<body class="bg-gray-100 font-sans antialiased">



<nav class="p-4 text-white flex items-center justify-between" style="background-color: #424874;">
    <div>
        <a href="{% url 'blog-home' %}"> <h1 class="text-3xl font-bold transition duration-300 ease-in-out transform hover:scale-105">SendMeABlog</h1></a>
    </div>
    <div class="flex-1 text-left">
        <div class="font-semibold space-x-4">
            <a href="/" class="px-3 py-2 rounded-lg text-white hover:bg-gray-700 transition duration-300 ease-in-out transform hover:scale-105">Home</a>
            <a href="/about" class="px-2 py-2 rounded-lg text-white hover:bg-gray-700 transition duration-300 ease-in-out transform hover:scale-105">About</a>
        </div>
    </div>
    <div class="flex space-x-4 font-semibold">
        <a href="/login" class="px-3 py-2 rounded-lg text-white hover:bg-gray-700 transition duration-300 ease-in-out transform hover:scale-105">Login</a>
    </div>
</nav>

<!-- Main Content -->
<div class="flex items-center justify-center min-h-screen py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign up for an account</h2>
        </div>
        <form class="mt-8 space-y-6 bg-white p-8 shadow-lg rounded-xl" action="" method="POST">
            {% csrf_token %}
            {% if error_message %}
            <div align="center" class="text-red-500">
                <h2>{{ error_message }}</h2>
            </div>
            {% endif %}
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="py-2">
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="username" type="text" autocomplete="username" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-blue-400 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
                </div>
                <div class="py-2">
                    <label for="email" class="sr-only">Email</label>
                    <input id="email" name="email" type="email" autocomplete="email" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-blue-400 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
                </div>
                <div class="py-2">
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-blue-400 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
                </div>
                <div class="py-2">
                    <label for="repassword" class="sr-only">Confirm Password</label>
                    <input id="repassword" name="repassword" type="password" required class="appearance-none rounded-md relative block w-full px-3 py-2 border border-blue-400 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Confirm Password">
                </div>
            </div>
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="background-color:#424874">
                    Sign Up
                </button>
            </div>
            <div class="text-center">
                <p>Already have an account? <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Sign In</a></p>
            </div>
        </form>
    </div>
</div>

</body>
</html>
